*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    background: black
}
.form{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 5px;
    border: 5px solid rgb(78, 192, 234);
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.75);
}
.box,
.cash-desk{
    display: flex;
    justify-content: space-evenly;
    align-items: right;
}
input[type="text"]{
    color: blue;
    width: 35%;
    height: 2em;
    text-align: center;
    border-radius: 5px;
    border: none;
}
p{
    font-size: 20px;
    flex-grow: 2;
    text-align: right;
    margin-right: 5%;
}

button{
    place-self: center;
    width: 10em;
    height: 2em;
    font-size: 25px;
}
#result{
    text-align: center;
    padding: 20px;
    height: fit-content;
}
table{
    width: 100%;
}

hr{
    width: 100%;
    color: rgba(0, 0, 0, .75);
    border: 1px solid black;
    border-radius: 10px;
}
.hidden {
    display: none;
}
th{
    font-size: 20px;
}
td{
    padding: 3px;
    text-align: center;
}
#sum-of-money{
    font-size: 20px;
}
.sum-table,
.differenceTable{
    width:9em;
    flex: 1;
}
.eachDenominationSum{
    text-align: right;
    padding: 0;
}
.differenceContainer{
    margin-top: 10px;
    display:flex;
}
